img{
    width: 7%;
    height: 10%;
}
h1{
    color: black;
}
h2{
    color: red;
}
body{
    background-color: whitesmoke;
}
p{
    color:black;
    font-size: larger;
}
li{
    font-size: larger;
}
h4{
    color: brown;
}